*{
  box-sizing: border-box;
}
body{

  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header, .servicio, .noticia, .nombre, .footer{
  display: flex;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.header {
  height: 200px;
  background: rgb(192, 188, 188);
  flex-wrap: wrap;
}
.servicio{
  height: 500px;
  background:#f47106; 
  justify-content: space-evenly;

}.noticia{
  height: 800px;
  background:rgb(192, 188, 188);
  flex-wrap: wrap;
}
.nombre{
  height: 500px;
  background:#03071e;
}
.footer{
  height: 200px;
  background:hotpink;
}
.header-image{
  height: 149px;
  width: 100%;
  background-image:url(/images/background.png);
}

.header__title{
  color: #f48c06;
  border:2px solid gray;
}
.main-menu, .header__title{
  width: 50%;
  height: 50px;
}
h1{
  margin: 0;
}
h2{
  font-size: 20px;
}
.a-menu{
  font-size: 20px;
  text-decoration: none;
  padding: .375rem .75rem;
  border: 1px solid gray;
  border-radius: .25rem;
  color: #03071e;
  transition: color .20s ease-in-out,
  background-color .15s ease-in-out;
  transition-duration: 0.4s;
}
.a-menu:hover {
  background-color: #9d0208;
}
.main-menu{
  background:rgb(164, 164, 182)
}
.main-menu__list{
  color: #791e1e;
  list-style:none;
  margin: 0;
  height: inherit;
}
.header__title, .main-menu__list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-shadow: 2px 2px 5px red;
}
.servicio-detalles{
  background: rgb(189, 186, 186);
  margin: 5px 0;
  /*padding: 0px 15px;*/
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  align-content:space-between;
  box-shadow: 5px 5px 8px#a2a2a2, -2px 0 15px #a2a2a2 ;
}
.servicio-detalles:hover{
  background: #c29128;
}
.servicio-figura{
  margin: 0;
  width: 100%;
  text-align: center;
}
.servicio-figura__imagen{
  width: inherit;
  height: 200px;
  object-fit: inherit;
}
.servicio-text {
  padding: 0 15px;
  text-align: justify;
  height: 50%;
}
.servicio-text__titulo{
  text-align: center;
}
.servicio-text__link{
  font-size: 10px;
  display: block;
  text-align: end;
  text-decoration: none;
}
.servicio-text__link:visited{
  color:#f47106;
}
.servicio-text__link:hover{
  font-weight: 600;
  text-decoration: underline;

}
.noticia-detalles{
  display: inline-flex;
  width: 48%;
  background: #f47106;
  margin: 10px;
  justify-content: space-evenly;
  box-shadow: 5px 5px 8px #c29128, -2px 0 20px #c29128;
  
}
.noticia-detalles:hover{
  background:rgb(189, 186, 186);
}
.noticia-figura{
  display: inline-flex;
  padding: 15px;
  margin: 0;
  width: 300px;
  align-items: center;
}
.noticia-figura__imagen{
  width: inherit;
  height: 200px;
}
.noticia-text {
  width: 48%;
  padding: 10px 10px;
  margin: 30px;
  text-align: end;
  height: 50%;
}
.noticia-text__titulo{
  text-align: end;
}
.noticia-text__link{
  font-size: 10px;
  display: block;
  text-align: end;
  text-decoration: none;
}
.noticia-text__link:visited{
  color:#120c70;
}
.noticia-text__link:hover{
  font-weight: 600;
  text-decoration: underline;

}
.nombre-detalles{
  background: rgb(189, 186, 186);
  margin: 15px;  
  /*padding: 0px 15px;*/
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  align-content:space-between;
  box-shadow: 5px 5px 8px #a2a2a2, -2px 0 15px #a2a2a2 ;
}
.nombre-detalles:hover{
  background:rgb(93, 98, 146);
}
.nombre-figura{
  margin: 0;
  width: 100%;
  text-align: center;
}
.nombre-figura__imagen{
  width: inherit;
  height: 200px;
  object-fit: inherit;
}
.nombre-text {
  padding: 0 5px;
  text-align: justify;
  height: 50%;
}
.nombre-text__titulo{
  text-align: center;
}
.nombre-text__link{
  font-size: 10px;
  display: block;
  text-align: end;
  text-decoration: none;
}
.nombre-text__link:hover{
  font-weight: 600;
  text-decoration: underline;

}
.nombre-text__link:visited{
  color:#9d0208;
}

.footer {
  justify-content:center;
  background-color:#1f1c1c;
  color:#9d0208;
}

.footer ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
}

.footer ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer .copyright {
  justify-content: center;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
